@using Sitecore.Mvc
<!DOCTYPE html>
<html>
<head>
  <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
</head>
  <body>
    <h1>@Html.Sitecore().Field("title")</h1>
      <div>
          @Html.Sitecore().Placeholder("main")
      </div>
      <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="/Scripts/forms.js"></script>
  </body>
</html>